@model AppPlanillasAlumnos.Models.ChangePasswordViewModel


<h2 class="text-center text-uppercase text-dark letratitulo">Cambiar contraseña</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Formulario para cambiar contraseña</h4>*@
    <div class=" col-md-12 cardfondo ">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label TextoNegroFormulario" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-rounded" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label TextoNegroFormulario" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-rounded" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label TextoNegroFormulario" })
            <div class="col-md-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-rounded" })
            </div>
        </div>
    </div>
        <div class="form-group">
            <div class="form-group text-right">
                <button type="submit" class="BotonGuardar-Modal btn-flotante-guardar " title="Guardar Contraseña"><img src="~/Content/dashtreme-master/assets/images/iconos menu/salvar.png" class="iconoFlotantecentrado" /></button>
                <button class="btn-flotante-cancelar btn-flotante-cancelar-PersonaCondiscapacidad" title="Volver al Home" onclick="VolverAHome()"><img src="~/Content/dashtreme-master/assets/images/iconos menu/cerrar.png" class="iconoFlotantecentrado" /></button>
            </div>
            <!--<div class="text-right col-md-12">
                <button type="submit" title="Guardar Contraseña" class="BotonGuardar">
                    <img src="~/Content/dashtreme-master/assets/images/iconos menu/candado.png" class="icono-menu" />
                </button>-->
                @*<input type="submit" value="Cambiar contraseña" class="btn btn-info" />*@
            <!--</div>-->
        </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
    function VolverAHome() {
        location.href = '../../Home/Index';
    }
</script>
}