@model AppPlanillasAlumnos.Models.DatosAlumnos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DatosAlumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatosAlumnosNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatosAlumnosNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatosAlumnosApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatosAlumnosApellido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DatosAlumnosID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
